#database_name  protein_fasta_url   feature_table_url
Lsat_salinas_v8 https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/870/075/GCF_002870075.3_Lsat_Salinas_v8/GCF_002870075.3_Lsat_Salinas_v8_protein.faa.gz https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/870/075/GCF_002870075.3_Lsat_Salinas_v8/GCF_002870075.3_Lsat_Salinas_v8_feature_table.txt.gz
